.payment__header {
  padding: 20px;
  font-size: 24px;
  background-color: rgb(234, 237, 237);
}

.payment__method__wrapper {
  padding: 30px;
}

.payment__flex {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.payment__flex h3 {
  min-width: 300px;
}

.payment__deliveryItem img {
  width: 80px !important;
}

.payment__deliveryItem div {
  height: auto !important;
}

.payment__card_methods {
  max-width: 350px;
  width: 100%;
}

.payment__card_error {
  color: #ff0000;
}

.payment__card_details {
  font-size: 18px;
}

.payment__price {
  padding: 20px;
}

.payment__price span {
  display: flex;
  font-size: 16px;
  gap: 10px;
}
.payment__price button {
  margin-top: 15px;
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}
.payment__price button:hover {
  background-color: var(--primary-shade);
}

.payment__card_details_loader {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: rgb(52, 52, 52);
}

@media screen and (max-width: 768px) {
  .payment__flex {
    flex-direction: column;
  }
}
